header {
    text-align: center;
    background-color: burlywood; 
}

main {
    text-align: center;
}

footer {
    text-align: center;
    background-color: burlywood;
}

pre {
    text-align: left;
    margin-left: 20vw;
}

ul {
    padding-inline-start: 40vw;
}

li {
    text-align: left;
}

mark {
    background-color: yellow;
}
